version: "3.7"

networks:
  postgres_net:

volumes:
  postgres:
  pgadmin:

services:
  ### Postgres ##############################################
  postgres:
    image: postgres:${POSTGRES_TAG}
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - postgres_net

  ### Pgadmin ##############################################
  pgadmin:
    image: dpage/pgadmin4:${PGADMIN_TAG}
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin:/root/.pgadmin
    ports:
      - "${PGADMIN_LISTEN_PORT}:80"
    networks:
      - postgres_net
